html 		{ 

	background: url("images/test.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	font-family: sans-serif;
}

#title  			{

	text-align:  	center;
	color:			#5E2612;
	font-size:  	x-large;
	font-weight:  	bold;
	border-style:  	solid;
	border-color:  	#090;
	background-color: #060;
	width: 			650px;
	position:  		absolute;
	left:			50%;
	margin-left: 	-325px;
}

#title p  	{

	color:			black;
}

#master_box	{

	position: 		absolute;
	top: 			50%;
	left:			50%;
	margin-top:  	-125px;
	margin-left:  	-450px;

}

.option_box	{

	float:			left;
	height:  		500px;
	width:  		300px;
	border-style:  	solid;
	border-color:  	#090;
	background-color: #060;

}

.option_box h2		{

	color:			#5E2612;
	text-align:  	center;
}

.option_box p 		{

	text-align:  	center;
	font-weight: 	bold;
	font-size:  	x-large;
}


#location select	{

	background-color: #090;
	font-size:  		small;

}

#display_list  		{

	text-align:  	center;
	font-weight: 	bold;
	font-size:  	large;
}

#location_list_mass	{

	float:  		left;
}

select {
    padding:3px;
    margin: -15px;
    margin-left: -35px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#accordion h3 	{
	color:  		#5E2612;
}

#display_list p  	{

	color:			red;
}