html 		{ 

	background: url("images/test.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


#master_box	{

	position: 		absolute;
	top: 			50%;
	left:			50%;
	margin-top:  	-100px;
	margin-left:  	-500px;

}

.option_box	{

	float:			left;
	height:  		200px;
	width:  		250px;
	border-style:  	solid;
	border-color:  	#090;
	background-color: #060;

}


#location select	{

	background-color: #090;

}

#display_list 	{

	height:  		150px;
	width:  		200px;
	border-style: 	solid;
	border-color:  	black;
}